@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
.technologies {
  background: #32423F; }

#site-header .navbar-wrapper a {
  color: #fff; }

#site-footer {
  background: #232F2D; }

::-moz-selection {
  background: #5236E0;
  color: #FFFFFF; }

::selection {
  background: #5236E0;
  color: #FFFFFF; }

.jumbotron {
  background-color: #32423F; }
  .jumbotron .btn-outline-inverse {
    border: 2px solid #FFFFFF;
    color: #FFFFFF; }
    .jumbotron .btn-outline-inverse:hover, .jumbotron .btn-outline-inverse:focus {
      background: #FFFFFF;
      color: #32423F; }

pre {
  background: rgba(243, 244, 244, 0.6); }
  pre code {
    color: inherit;
    background-color: transparent; }
  pre .hljs {
    background: none; }

body.docs {
  background: #F3F4F4; }

#content code {
  color: #7F8483;
  background-color: #F3F4F4; }

#sidebar-wrapper {
  background: #32423F; }

#page-content-wrapper .nav a {
  color: #7F8483; }
  #page-content-wrapper .nav a:hover {
    color: #3E4645; }
  #page-content-wrapper .nav a i {
    font-size: 18px; }

.sidebar-nav > li a:hover {
  background: #232F2D; }
.sidebar-nav > li a.active {
  border-left: 3px solid #5236E0;
  color: #fff; }
.sidebar-nav > .sidebar-brand a {
  background: #232F2D; }
  .sidebar-nav > .sidebar-brand a:hover {
    background: #232F2D; }
