/*hide unnecessary elements from print view*/
.print-hidden, .button, .phase-banner, .header-wrapper .print-link {
    display: none !important;
}

a:after {
    content: "" !important;
}

.govuk-box-highlight {
    margin: 1em 0;
    padding: 2em 1em;
    color: #fff;
    background: #28a197;
    text-align: center;
}
